body {

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom right, #fd9843, #feb272, #fecba1, #ffe5d0);
  }
  
  nav {
  
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    size: 100%;
  }
  
  h2 {
  
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    size: 100%;
  }
  
  p {
  
    font-family: 'Comfortaa', cursive;
    margin-top: 0;
    margin-bottom: 1rem;
    size: 100%;
  }
  
  a {
    font-family: 'Comfortaa', cursive;
    margin-top: 0;
    margin-bottom: 1rem;
    size: 100%;
  }
  
  li {
  
    font-family: 'Comfortaa', cursive;
    margin-top: 0;
    margin-bottom: 1rem;
    size: 100%;
  }

  code {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: rgb(28, 41, 51);
    padding: 10px;
    margin-bottom: 5px;
    overflow-x: auto;
  }

  code * {
    color:white;
    font-size: .9rem;
  }

  .container {

    size: 100%;
    align-items: center;
  }

  .container-fluid{

    size: 50%;
    align-items: center;
  }

  .code-text-container {

    display: flex;
  }

  .copy-button {
    height: 14.41px;
    cursor: pointer;
    user-select: none;
  }

  .ms-6{


    margin-left: 5% !important;
  }

  .me-6{
  
  
    margin-right: 5% !important;
  }